.nav_wrapper {
  background: #141414;
  height: 5vh;
  display: flex;

  justify-content: flex-end;
  align-items: center;
}

.nav_linksWrapper {
  display: flex;
  margin-right: 20px;
}

.nav_linksWrapper a {
  text-decoration: none;
}

#nav_link {
  margin: 0 10px;
  color: white;
}